---
subcategory: ""
page_title: "Creating a Firewall"
description: |-
    An example of creating a firewall using all of the `edge_firewall_*` resources and data sources.
---

# Creating a Firewall

{{ tffile "examples/guides/firewall/main.tf" }}
